{% liquid
  assign app_namespace = 'app--67872686081'

  assign dynamic_add_ons_bundle_config = product.metafields[app_namespace].dynamic_add_ons_bundle.value
  assign bundle_id = dynamic_add_ons_bundle_config.bundle_id
  assign products = dynamic_add_ons_bundle_config.products.value
  assign add_on_products = dynamic_add_ons_bundle_config.add_on_products.value
  assign add_on_product_properties = dynamic_add_ons_bundle_config.add_on_product_properties.value
  assign categories = dynamic_add_ons_bundle_config.categories.value
  assign product_card_options_type = section.settings.product_card_options_type | default: 'radio'
%}
 
<div class="foxsell-mix-match" data-bundle-id="{{ bundle_id }}">
    {% for category in categories %}
      {% for p in category.products %}
        {% liquid
          assign int_product_id = p.id | times: 1
          assign product_ref = null
          paginate products by 128
            for ref in products
              if ref.id == int_product_id
                assign product_ref = ref
                break
              endif
            endfor
          endpaginate
        %}
        {% render 'foxsell-shade-product-card', 
          view: 'modal',
          category_title: category.title, 
          product: product_ref, 
          allowed_variants: p.variants,
          type: product_card_options_type
          %}
      {% endfor %}
    {% endfor %}

    {% for add_on in add_on_products %}
      {% liquid
        assign allowed_variants = null
        for add_on_property in add_on_product_properties
          if add_on_property[0] contains add_on.id
            assign allowed_variants = add_on_property[1].variants
            break
          endif
        endfor 
      %}
      {% render 'foxsell-shade-product-card', 
        view: 'modal',
        category_title: '__add_ons__', 
        product: add_on, 
        allowed_variants: allowed_variants,
        type: product_card_options_type
      %}
    {% endfor %}
</div>

{% schema %}
{
  "name": "Foxsell Product Modal"
}
{% endschema %}