{% doc %}
  Renders the Foxsell Bundle Summary component.

  @example
  {% render 'foxsell-bundle-summary' %}
{% enddoc %}

<foxsell-bundle-summary class="foxsell-bundle-summary">
  <div>Bundle Summary</div>
  <div class="foxsell-bundle-summary__items-list">
    <p>No items in bundle. Add items to your bundle to see the summary here.</p>
  </div>
</foxsell-bundle-summary>