/* Main layout */
.foxsell-mix-match {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  color: var(--foxsell-color-foreground);
}

@media screen and (min-width: 768px) {
  .foxsell-mix-match {
    grid-template-columns: 1fr auto;
  }
}

/* Category list & grid */
.foxsell-category__item:not(:last-child) {
  margin-bottom: 3rem;
}

.foxsell-category__product-grid {
  display: grid;
  grid-template-columns: repeat(var(--foxsell-category-grid-columns-mobile, 1), 1fr);
  gap: 1rem 0.5rem;
}

@media screen and (min-width: 768px) {
  .foxsell-category__product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .foxsell-category__product-grid {
    grid-template-columns: repeat(var(--foxsell-category-grid-columns-desktop, 3), 1fr);
  }
}

/* Utility */
.foxsell-slashed-price {
  text-decoration: line-through;
}

/* Category header */
.foxsell-category__header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* Product card */
.foxsell-product-card__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Product card spacing */
.foxsell-product-card > *:not(:last-child),
.foxsell-product-card__info > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

/* Variant swatches */
.foxsell-variant-radio .swatch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}

.foxsell-variant-radio label:has(input:checked) .swatch {
  outline: 1px solid var(--foxsell-color-foreground);
  outline-offset: 0.2rem;
}

.foxsell-variant-radio .swatch.color {
  background-color: var(--swatch-color);
}

.foxsell-variant-radio .swatch.image {
  background-image: var(--swatch-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Variant controls spacing */
.foxsell-variant-radio fieldset:not(:last-child) {
  margin-bottom: 0.5rem;
}

/* Bundle summary */
.foxsell-bundle-summary,
.foxsell-bundle-progress {
  display: block;
}

.foxsell-bundle-summary__item {
  display: grid;
  grid-template-columns: 100px 1fr auto;
  gap: 0.5rem;
}

@media screen and (min-width: 768px) {
  .foxsell-mix-match__summary-wrapper {
    width: 400px;
  }
  
  .foxsell-mix-match__summary-contents {
    position: sticky;
    top: 1rem;
  }
}

/* Bundle summary spacing */
.foxsell-bundle-summary__items-list > *:not(:last-child),
.foxsell-mix-match__summary-contents > *:not(:last-child),
.foxsell-bundle-summary > *:not(:last-child) {
  margin-bottom: 1rem;
}
