label:has(input:disabled) {
  opacity: 0.5;
  text-decoration: line-through;
}

.swatch {
  display: inline-block;
  border-radius: 50%;
}
.swatch.color {
  width: 20px;
  height: 20px;
  background-color: var(--swatch-color);
}
.swatch.image {
  width: 20px;
  height: 20px;
  background-image: var(--swatch-image);
}

.foxsell-product-card__price {
  text-decoration: line-through;
}

.foxsell-category__header {
  display: flex;
  justify-content: space-between;
}

.foxsell-category__product-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

@media (min-width: 768px) {
  .foxsell-category__product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .foxsell-category__product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}